@mixin testimonialsCommon {
   .testimonial{
      .comment{
         img {width: 30px}
         text-align: center;
         padding: 15px 15px 60px 15px;
         border-radius: 5px;
         background-color: #f8f9fa;
         box-shadow: 1px 3px 4px 0px grey;
      }
      .client{
         text-align: center;
         margin-top: -65px;
         z-index: 3;
         img{width: 28%;}
         h6{
            font-weight: bold;
            font-size: 20px;
            margin: 0;
         }
         h6::before {
            content: "";
            width: 70px;
            height: 3px;
            margin: auto;
            display: block;
            border-radius: 10px;
            margin-top: 12px;
            margin-bottom: 7px;
            background-color: $commonColor2;
         }
      }
   }
}

.testimonialSection{
   .col-md-6 {
      padding: 40px 40px 0px 40px;  
      z-index: 1;
      @include testimonialsCommon;;
   }
}

#carouselControls{
   height: 30px;
   .carousel-item{
      @include testimonialsCommon;
   }
   .carouselController {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
         font-size: 25px;
         color: black;
         padding: 0px 10px;
         transition: all 0.3s;
      }
      a:hover {
         color: $commonColor2;
      }
   }
}

.carouselFooter{
   margin-bottom: 385px;
}